{% extends 'base2.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load fontawesome %}

{% block content %}

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>the hello world</title>
        <link href="{% static 'jQueryAssets/jquery.ui.core.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'jQueryAssets/jquery.ui.theme.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'jQueryAssets/jquery.ui.button.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'jQueryAssets/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'jQueryAssets/jquery.ui-1.10.4.button.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>

    </head>
    <head>
        <style type="text/css">
            @import url("{% static 'css/商品首頁css.css' %}");
        </style>
    </head>

    <div id="box">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
                <li data-target="#carousel1" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="{% static "images/1024.jpg" %}" alt="First slide image"
                                              class="center-block">
                    <div class="carousel-caption">
                        <h3>掌全新未拆封~~掌廚可樂膳多功能廚房剪刀組~~品牌推薦~媽媽最愛</h3>
                        <p>First slide Caption</p>
                    </div>
                </div>
                <div class="item"><img src="{% static "images/1234.jpg" %}" alt="Second slide image"
                                       class="center-block">
                    <div class="carousel-caption">
                        <h3>計時沖茶器</h3>
                        <p>Second slide Caption</p>
                    </div>
                </div>
                <div class="item"><img src="{% static "images/2048.jpg" %}" alt="Third slide image"
                                       class="center-block">
                    <div class="carousel-caption">
                        <h3>攜帶杯架創意小物</h3>
                        <p>Third slide Caption</p>
                    </div>
                </div>
                <div class="item"><img src="{% static "images/2048-1.jpg" %}" alt="Third slide image"
                                       class="center-block">
                    <div class="carousel-caption">
                        <h3>一人吃一人補的義大利麵</h3>
                        <p>Forth slide Caption</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span
                    class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel1" role="button"
                                                          data-slide="next"><span
                class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span
                class="sr-only">Next</span></a>
        </div>
        <div>
            {% for each in object_list %}
                <div id="box1">
                    <a href="{% url 'project_detail' each.pk %}">
                        {% if each.project_picture %} <!--防沒圖的狀況-->
                        <img src="{{ each.project_picture.url }}" width="200px" height="200px"></a><br>
                        {% else %}
                        <img src="//placehold.it/400x400&text=No Pic" width="200px" height="200px"></a><br>
                        {% endif %}
                    <span style="font-family:sans-serif;margin-right:5px;"> {{ each.project_name }}</span>

                </div>
            {% endfor %}
        </div>
    </div>


    <!-- JavaScript part -->

    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var imageTagID = input.getAttribute("targetID");
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.getElementById(imageTagID);
                    img.setAttribute("src", e.target.result)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function changed(theselect) {
            var output = ""
            var id = theselect.selectedIndex
            var thename = theselect.name
            var number = theselect.length
            output += "selectedIndex = " + id + "\n"
            output += "Your " + thename + " is " + theselect.options[id].text
            alert(output)
        }

        function newprojuct(thenewprojuct) {
            var textarray = new Array("Computing", "Music", "Sports")
            var valuearray = new Array("int0", "int1", "int2")
            for (i = 0; i < textarray.length; i++) {
                theselect.options[theselect.length] = new Option(textarray[i], valuearray[i])
            }
        }
    </script>

{% endblock %}