@charset "utf-8";
/* CSS Document */
					#header {
						height:50px;
						line-height:50px;
						margin: 0px;
						min-width: 100%;

					}

					#nav ul li{
						width:16.7%;
						background:linear-gradient(white,#C6DDD9);
						margin:0px -2px;
						padding:1.5%;
						display:inline-block;
						list-style-type:armenian;
						border:1px #6C6C6C ridge;
						color:black;
						font-family:"微軟正黑體";
						font-weight:bolder;
						font-size: 14px;
						text-align: center;
						
					}
					#search-box
					{
						width:95%;
						height: 20px;
						margin:-5.2px -20px;
						background:url(../search.gif) no-repeat white;
						padding: 3px 3px 4px 22px;
					}

					#nav ul li a
					{
						font-family:"微軟正黑體";
						font-weight:bolder;
						color:chocolate;
						text-decoration: none;
					}

					#zz {
						line-height:10px;
						text-align: left;
						margin-left: -40px;
					}
						#box {
							font-family:"微軟正黑體";
							margin-top: -20px;
							height:500px;
							width: 100%;
							background-color:white;
							text-align:center;
						
						}
						#footer {
						clear:both;
						text-align:bottom;
						}
						#aboutus{
							background-color: #962728;
							height:300px;
							margin: 0px,auto;
							color:white;
							word-break: break-all;
							width: 100%;



							}
							#aboutus1{
							margin-top: -20px;
							color: #962728;	
							}
							#donateproductdiv{
								color:#8A0E8E;	
							}
							#donateproductdiv p{
								text-align: left;
								color:#8A0E8E;

							}
