@charset "utf-8";

					#header {
						height:50px;
						line-height:50px;
						margin: 0px;
						min-width: 100%;

					}

					#nav ul li {
						width:14.3%;
						background:linear-gradient(white,#C6DDD9);
						margin:0px -2px;
						padding:20px;
						display:inline-block;
						list-style-type:armenian;
						border:1px #6C6C6C ridge;
						color:black;
						font-family:"微軟正黑體";
						font-weight:bolder;
						font-size:18px;
						text-align: center;
					}
					#nav ul li a
					{
						font-family:"微軟正黑體";
						font-weight:bolder;
						color:chocolate;
						text-decoration: none;

					}
					#zz {
						line-height:10px;
						text-align: left;
						margin-left: -40px;
					}
				#box {
					margin-top: 50px;
					height:1000px;
					background-color:white;
					text-align:center;
					line-height:50px;
					font-family: "微軟正黑體";
					font-weight:bolder;
					
				}
				#box1
				{
					width: 100%;
					height:75%;
					border: solid 2px #909090;
					overflow:auto;
					margin-top:-50px;
				}
				#box1 .btn-info
				{
					width: 200px;
					height: 40px;
					
				}
				#box .btn-success
				{
					width: 100px;
					height: 40px;
					margin-right: 80px;
			
				}
				#box .btn-danger
				{
					width: 100px;
					height: 40px;					
				}
				#footer {
				clear:both;
				text-align:bottom;

				}
				