@charset "utf-8";
/* CSS Document */
					#header {
						height:50px;
						line-height:50px;
						margin: 0px;
						min-width: 100%;

					}

					#nav ul li {
						width:16.7%;
						background:linear-gradient(white,#C6DDD9);
						margin:0px -2px;
						padding:1.5%;
						display:inline-block;
						list-style-type:armenian;
						border:1px #6C6C6C ridge;
						color:black;
						font-family:"微軟正黑體";
						font-weight:bolder;
						font-size:18px;
						text-align:center;
					}
					#search-box
					{
						width:95%;
						height: 20px;
						margin:-5.2px -20px;
						background:url(../search.gif) no-repeat white;
						padding: 3px 3px 4px 22px;
					}

					#nav ul li a
					{
						font-family:"微軟正黑體";
						font-weight:bolder;
						color:chocolate;
						text-decoration: none;

					}
					#zz {
						line-height:10px;
						text-align: left;
						margin-left: -40px;
					}

					#box {
						margin: 0 150px;
						height:500px;
						background-color:white;
						text-align:center;
						line-height:50px;
					}
#box h1
{
	font-family: "微軟正黑體";
	font-style: oblique;
	font-weight: bolder;
}
					#box span{
						font-size:40px;
						font-weight:bold;
						font-family:微軟正黑體;
						line-height:60px;
					}
					#donatebutton{
						background:red;
						color:white;
						width:300px;
						height:60px;
						font-family:微軟正黑體;
					}
					#Proposer{
						background:black;
						color:white;
						width:200px;
						height:60px;
						font-family:微軟正黑體;
					}
					#share
					{
						background:black;
						width:100px;
						height:60px;
					}
					#share a
					{
						font-family:微軟正黑體;
						color:white;
						text-decoration: none;
					}
					#box1 {
						border: 3px gray solid;
						margin-left: 20px;
						margin-right: 20px;
						margin-bottom: 20px;
						height: 300px;
						width: 300px;
						overflow: auto;
						float: right;
					}

					#footer{
					clear:both; text-align:bottom;
					}

					#myprogress{
					position: relative;
					width: 40%;
					height: 30px;
					background-color: grey;
					margin-bottom:10px;
					}

					#Bar {
					position: absolute;
					width: 1%;
					height: 100%;
					background-color: green;
					}

					#label {
					color:white;
					margin: -7px;
					}
					#projectconect {				

					box-shadow:1px 1px 3px gray;

					border:1px black solid;
					text-align:center;
					font-size:18px;
					font-weight:bold;
					font-family:微軟正黑體;

					}
